@{
    ViewBag.Title = "Home Page";
}

<div>
    <h3>Status if something wrong</h3>
    <p style="color: red"> @ViewBag.Messge</p>
</div>

<div>
    <h3>Entity exist Information</h3>
    <p style="color: blue">Name: @ViewBag.Name</p>
    <p style="color: blue">Total: @ViewBag.Total</p>
</div>

<div>
    <p><a class="btn btn-default" href="/Home/About">Learn more &raquo;</a></p>
</div>